*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: #FAF7F0;
}
.navbar h2{
    font-family: "Poppins", sans serif;
    font-weight: 800;
}
section{
    margin: 69px 0px;
    font-family: "Poppins", sans serif;
    font-weight: 500;
}
.title h2{
    font-weight: 800;
}
.info h3{
    font-weight: 600;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,195,159,1) 0%, rgba(25,27,121,1) 100%);
}
.social-media a, .social-media abbr{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.whatsapp,.instagram, .linkedin, .email{
    padding: 10px 5px 10px 5px;
    flex-basis: 33.3%;
}

label{
    padding-top: 10px;
}
.copyright{
    height: 50px;
    background-color: #FAF7F0;
}
.whatsapp:hover,.instagram:hover, .linkedin:hover, .email:hover, .social-media p:hover{
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer; 
    a{
        color: white;
    }
}
@media screen and (min-width: 448px) and (max-width: 992px){
    .whatsapp, .instagram, .linkedin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}